.confirm-payment-container {
  background-color: #1c1c1c;
  color: white;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.confirmation-title {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: bold;
}

.confirmation-message {
  font-size: 18px;
  margin-bottom: 10px;
}

.thank-you-message {
  font-size: 16px;
  margin-top: 10px;
  color: #f17a1e;
}
