.guest-homepage .button-container {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
  }
  
  .action-button {
    background-color: #f17a1e;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .action-button:hover {
    background-color: #d46918;
  }
  