.movie-card {
  position: relative;
  text-align: center;
  width: 150px;
}

.movie-poster {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.2s;
}

.movie-card:hover .movie-poster {
  transform: scale(1.05);
}

.movie-title {
  margin-top: 10px;
  font-size: 14px;
  color: white;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  border-radius: 10px;
  z-index: 1;
  transition: opacity 0.3s;
}

.movie-card:hover .card-overlay {
  opacity: 1;
}

.card-overlay.selected {
  background-color: rgba(0, 128, 0, 0.7);
}

.select-button {
  background-color: #fdda2d;
  color: black;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.2s;
}

.select-button:hover {
  background-color: #ffc800;
}
